<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="./img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/robot.png" class="portrait" alt="robot">
    </div>
    {{>footer}}
</body>

</html>